.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
body{
	font-family: 'league_gothicCnRg', sans-serif;
	font-size: 20px;
}
.wraper{
	position: relative;
	margin: 0 auto;
	width: 100%;
	background: url(../img/bg_header.jpg) 0 0 no-repeat;
	background-position: center;
}
.black{
	margin-top: 21.8%;
	position: absolute;
	width: 100%;
	height: 400px;
	background: #000000;
    opacity: 0.2;
}
.left{
	display: block;
	position: absolute;
	top: 40%;
	left:5%;
}
.right{
	position: absolute;
	left: 88%;
	top:40%;
}
header{
	width: 100%;
	max-width: 960px;
	padding-top: 1%;
	margin: 0 auto;
}
.logotip{
	float: left;
	width: 16%;
	margin-top: 7.4%;
}
.top_menu{
	width: 84%;
	float: right;
	margin-top: 7.4%;
}
.menu__item:first-child{
	margin-left: 21.8%;
}
.menu__item{
	float: left;
	margin-left: 6%;
}
.menu__item{
	list-style: none;
}
.menu__link{
	display: block;
	color: #fff;
  	font-size: 24px;
  	font-family: 'league_gothicCnRg', sans-serif;
  	color: rgb(255, 255, 255);
  	text-decoration: none;
 	text-transform: uppercase;
 	letter-spacing: 3px;
 	line-height: 1.405;
 	text-align: left;
 	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  }
  .menu__item:nth-child(4){
  	margin-left: 6.4%;
  	letter-spacing: 0px;
  }
  .menu__item:nth-child(5){
  	margin-right: 1.5%;
  }
  .menu__item:nth-child(6){
  	margin-left: 3%;
  }
  .menu__link:hover{
  	border-bottom: 1px solid #edbfff;
  }
  .article_iphone{
   position: relative;
   margin-top: 15.3%;
   padding-bottom: 21.3%;
   z-index: 1;
  }
  .article{
  	float: left;
  	left: 0;
  	width: 53%;
  	margin-top: 9%;
    color: rgb(254, 254, 254);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .h1{
	font-size: 60px;
  	letter-spacing: 6px;
  }
  .h2{
  	position: relative;
  	top: -9px;
  	letter-spacing: 3px;
  	font-size: 32px;
  	color: #ffccff;
  }
  .text{
  	font-family: sans-serif;
  	position: relative;
  	top: -5px;
  	font-size: 18px;
  	line-height: 24px;
  }
.iphone-small{
	float: left;
	padding-left: 12%;
}
.slaider{
	position: absolute;
	top: 87%;
	left:74%;

}
.slaider li{
	float: left;
	list-style: none;
	margin-left: 3px;
}
.slaider img{
	opacity: 0.2;
}
.slaider a:hover{
	background: url(../img/white-circle.png);
}
.info{
	padding-top: 4.4%;
	background-image: linear-gradient(to top, #322539 0%, #745083 100%);
}
.about_wrapper{
	width: 100%;
	max-width: 960px;
	padding-top: 1%;
	margin: 0 auto;;
}
.about{
	float: left;
	position: relative;
	width: 24.3%;
	margin-left: 7%;
}
.about__title{
	font-size: 30px;
	color: #fff;
	letter-spacing: 3px;
}
.about__article-m{
	font-family: "Open Sans";
	font-size: 16px;
	color: #fff;
	padding-top: 4%;
}
.about__link{
	padding-left: 68%;
	letter-spacing: 2px;
	font-family: 'league_gothicCnRg', sans-serif;
	color: #fff;
	text-decoration: none;
	 text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.about:before{
	content: "";
	display: block;
	position: absolute;
	width: 31px;
	height: 27px;
	background: url(../img/sprites.png);
	left:-24%;
	top: 5%;
}