body {
	
	background-image: url(../img/bg-body.jpg);
	background-repeat:  repeat-x; 
	font-family: tahoma;
	line-height: 18px;
	background-color: #0c739f;

}
.conteiner{
	margin: 0 auto;
	width: 996px;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
	border-bottom: 2px solid black;
}
.header{
	overflow: hidden;
	position: relative;
}
.logo{
	padding: 11px 0 0 37px;
	float: left;
}
.contacts{
	font-size: 12px;
	color: #5fa5bb;
	float: right;
	padding: 11px 32px 0 0;
}
.contries{
	margin-top: 112px;
	overflow: hidden;
	position: relative;
}
	
.contries ul li{
	list-style: none;
	float: right;
	padding-left: 17px;
}
.contries li:first-child{
	padding-right: 36px;
}
.photo img{
	height: 237px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	z-index: 1;
}
.content{
	margin: -3px 0 0 0;
	height: 573px;
	width: 998px;
	overflow: hidden;
	background: #ffffff;
}
.top-menu {
	width: 998px;
	position: relative;
	clear: both;
	border-bottom: 1px solid black;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
}
.nav {
	background: #333;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
	
}

.nav li {
	float: left;
	list-style: none;
	position: relative;	
}
.nav>li>a{
	padding: 0 33px;
	display: block;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
.nav ul {
display: none;
position: absolute;
top:28px;
left: 23px;
background: #333;
font-size: 14px;
border-top: 10px;
background: #303030;
box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
}
.nav ul a{
	padding: 0 10px;
	display: block;
	width: 118px;
	text-decoration: none;
	color: #fff;
	line-height: 28px;
}
.nav li:hover ul{
	display: block;
	border-top: 1px solid black;
}
.left-colum{
	clear: both;
	float: left;
	width: 172px;
	height: 534px;
	background: #edeef0;
	line-height: 24px;
	padding: 10px 23px 0 15px;
	font-size: 14px;
	color: #424c43;
	border-right: 1px solid #c7cacf;
}
.rigt-colum{
	float: right;
	overflow: hidden;
	width: 172px;
	height: 534px;
	background: #edeef0;
	line-height: 24px;
	padding: 10px 23px 0 15px;
	font-size: 14px;
	color: #424c43;
	border-left: 1px solid #c7cacf;
}
h2{
	font-size: 18px;
	text-align: center;
}
.footer{
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	padding: 10px 0 10px 0;