body {
	background-color: #f9f9f9;
	font-family: sans-serif;
}
.wraper {
	width: 962px;
	height: 950px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	padding: 45px;
}
/*HEADER*/
.header {
	margin-bottom: 40px;
}
.logo {
  padding-left: 46px;
  padding-top: 50px;
  margin-bottom: 40px;
  
}
.top_menu {
  position: relative;
  overflow: hidden;
  background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
}
.top_menu li {
	float: left;
	list-style: none;
	line-height: 40px;
	 border-left: 1px solid transparent;
     border-right: 1px solid transparent;
}
.top_menu a{
	display: block;
	color: #ffffff;
	font-family: sans-serif;
	text-decoration: none;
	padding: 0 40px;
	font-size: 15px;
}
.top_menu li:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  font-size: 15px;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383 ;
}

/*CONTENT*/
.content {
	position: relative;
	overflow: hidden;
}
.sidebar {
	float: left;
	width: 240px;
}
.sidbar_menu{
border: 1px solid #c8c8c8;
}
.sidbar_menu li {
	border-top: 1px solid  #c8c8c8;
}
.sidbar_menu li:first-child {
	border: none;
}
.sidbar_menu a {
	display: block;
	padding-left: 20px;
	line-height: 37px;
	font-size: 13px;
	color: #656363;
	text-decoration: none;
}
.sidbar_menu a:hover {
	color: #2c2c2c;
	background: #f9f9f9;
	padding-left: 35px;
}
.product {
	float: right;
	width: 680px;
}
  .product_image {
  	border: 1px solid #c8c8c8;
    text-align: center;
    padding: 40px 0;
  }
  .text {
  	padding: 40px 22px 0 22px;
  	line-height: 21px;
  	font-size: 13px;
  	color: #2c2c2c;
  }

/*FOOTER*/
.footer {
padding: 50px 0px;
}
.footer_menu{
	position: relative;
	overflow: hidden;
	background: #e1e1e1;
}
.footer_menu li{
	float: left;
	list-style: none;
	line-height: 40px;
}
.footer_menu .copyrights {
	float: right;
	padding-right: 25px;
}
.footer_menu a {
	display: block;
	font-size: 13px;
	color: #2c2c2c;
	text-decoration: none;
	padding: 0 50px;
}
.footer_menu a:hover {
	text-decoration: underline;
}