@media (min-width: 768px) and (max-width: 959px){
.logotip{
	width: 21%;
	float: none;
	}
.top_menu{
    width: 89%;
	margin-top: 2.8%;
	float: left;
}
.menu__item.home {
    margin-left: 0;
}
.menu__item:nth-child(4) {
    margin-left: 8%;
}
.menu__item:nth-child(6) {
    margin-left: 5.6%;
}
.menu__item {
    margin-left: 7.3%;
}
.menu__link{
	font-size: 
}
.article {
	width: 40%;
    margin-left: 3.1%;
    margin-top: 15.3%;
}
.h1{
	font-size: 48px;
	letter-spacing: 4.6px;
}
.h2{
	margin-top: 3%;
	letter-spacing: 1.7px;
	font-size: 24px;
}
.text{
	line-height: 27px;
}
.iphone-small {
    padding-left: 14.6%;
}
.article_iphone {
    margin-top: 6.7%;
    padding-bottom: 26.4%;
}
.black {
    margin-top: 31.5%;
}
.slaider {
    top: 79%;
    left: 69.3%;
}
.info {
    padding-top: 8.8%;
    padding-bottom: 8.7%;
 }
 .about {
    margin-left: 8.2%;
}
.about--center {
    margin-left: 9.3%;
}
.about__title {
    font-size: 24px;
    letter-spacing: 3px;
}
.about--right__title {
    font-size: 24px;
    letter-spacing: 2.5px;
    padding-left: 8%;
}
.disp768{
	display: none;
}
.about__article-m {
    padding-top: 2%;
    margin-bottom: 7%;
}
.about--right__article-m {
    padding-top: 1%;
    padding-left: 6%;
    margin-bottom: 2%;
    line-height: 1.5;

}
.about__link {
    padding-left: 50%;
    font-size: 18px;
}
.about--right__link {
    padding-left: 56%;
    font-size: 18px;
}
.about:before {
    left: -28%;
    top: 2%;
}
.about--center:before {
    background: url(../img/sprites.png) 0 0 no-repeat;
    left: -28%;
    top: 2%
}
.about--right:before {
    background: url(../img/sprites.png) 0 0 no-repeat;
    left: -22%;
    top: 2%;
}
.wrapper-star {
    padding-top: 13.4%;
    padding-left: 3%;
    padding-bottom: 15%;
}
.pingbuller {
	margin-left: 3%;
	font-size: 24px;
    letter-spacing: 2.3px;
}
.ping {
    width: 37.4%;
    padding-top: 3.4%;
    padding-left: 4.2%;
    padding-right: 0%;
    padding-bottom: 6%;
}
.pink {
	margin-top: -1%;	
	display: block;
    font-size: 24px;
    }
    .article1 {
    padding-left: 2.5%;
    padding-top: 1.1%;
}
.ping:before {
    left: -8.2%;
    top: 6.4%;
}
.recent {
    width: 46%;
    margin-left: 9.3%;
    margin-top: 3.5%;
}
.updates {
    margin-left: 1%;
    letter-spacing: 3px;
    margin-bottom: 3%;
}
.circle1, .circle2, .circle3 {
    margin-left: 20%;
}
.text1{
	color: #454545;
	margin-top: 1%;
}
/*.title{
	margin-top: 5.4%;
}*/
.circle1:before {
    left: 1%;
    top: 20%;
   }
   .circle2:before {
    left: 1%;
    top: 48%;
  }
.circle3:before {
    left: 1%;
    top: 75%;
  }
.color {
    left: 71%;
    top: 101%;
}
.slaider1 {
    top: 81%;
    left: 17.5%;
}
.wrapper-logo {
    padding-top: 3.7%;
    padding-left: 0%;
    padding-bottom: 2.8%;
}
.wrapper-logo li:nth-child(5){
    margin-left: 7%;
}
.wrapper-logo li:nth-child(5){
    margin-left: 8%;
}
/*.spr2 {
    margin-left: 78%;
}
.spr3 {
    margin-left: 147%;
}
.spr4 {
    margin-left: 216%;
}
a.spr5 {
    margin-left: 189%;
}
a.spr6 {
    margin-left: 248%;
}*/
.article2-1-title{
	font-size: 24px;
}
.article2-1-title.disp768{
	display: block;
	font-size: 24px;
	/*margin-top: -1%;*/
}
.pos{
	margin-top: 3%;
}
.wrapper-article {
    padding-top: 12.5%;
}
.wrapper-article-bg {
    padding-bottom: 12.7%;
}
.footer-m {
    margin-top: 5.6%;
}
.menu.foot1 .menu__item:nth-child(2) {
    margin-left: 6%;
}
.menu.foot1 .menu__item:nth-child(3) {
    margin-left: 6%;
}
.menu.foot1 .menu__item:nth-child(4) {
    margin-left: 7%;
}
.footer {
    padding-bottom: 5.9%;
}
.designed {
    left: 78%;
    top: 85%;
}
}
@media (min-width: 480px) and (max-width: 767px){
.black{
    margin-top: 44%;
    height: 245px;
}
.left{
    top:41%;
    left:-3%;
}
.right{
    top: 41%;
    left: 96%;
}
.logotip{
    float: none;
    width: 33%;
    margin: 0 auto;
    margin-top: 14%;
}
.top_menu{
    position: absolute;
    left: 23%;
    width: 51%;
    float: none;
    margin: 0 auto;
    margin-top: 3.1%;
    padding: 0 1%;
    border: 1px solid black;
    border-radius: 8px;
    background: #3d3046;
    opacity: 0.9;
    z-index: 2;
}
.menu__item{
    float: none;
    margin-left: 0;
    border-top: 1px solid #53405b;
    border-bottom: 1px solid #37293f;
}
.menu__item:first-child {
    margin-left: 0%;
}
.menu__item:nth-child(4) {
    margin-left: 0%;
}
.menu__item:nth-child(6) {
    margin-left: 0%;
}
.menu__link{
    padding-top: 2%;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
}
.disp480-m{
    display: none;
}
.menu:hover .disp480-m{
    display: block;
}
.menu__link:hover {
    background: #2a212f;
    opacity: 0.9;
}
.h1{
    font-size: 36px;
    letter-spacing: 3px;
}
.h2{
    margin-top: 3%;
    font-size: 18px;
    letter-spacing: 1px;
}
.disp480{
    display: none;
}
.iphone-small img{
    height: 260px;
}
.iphone-small{
    margin-left: 4%;
    padding-left: 0;
}
.article{
    width: 44%;
    margin-top: 21%;
    margin-left: 7%;
}
.article_iphone{
    margin-top: 17.3%;
    padding-bottom: 19.3%;
}
.slaider{
    top: 78%;
    left: 42%;
}
.about{
    float: none;
    width: 82%;
    margin: 0 auto;
    padding-left: 14%;
}
.about__title{
    font-size: 24px;
}
.about_wrapper {
    padding-top: 12%;   
}
.about__article-m{
    padding-top: 0;
    letter-spacing: 0.9px;
}
.about__link {
    padding-left: 83%;
}
.about:before {
    left: 3%;
    top: 2%;
}
.about--center{
     float: none;
    width: 82%;
    margin: 0 auto;
    margin-top: 3%;
    padding-left: 14%;
}
.about--center:before{
     left: 3%;
    top: 3%;
    background-position: 0 0;
}
.about--right{
     float: none;
    width: 82%;
    margin: 0 auto;
    margin-top: 4%;
    padding-left: 14%;
}
.about--right:before{
     left: 3%;
    top: 4%;
    background-position: 0 0;
}
.about--right__title{
    font-size: 24px; 
    padding-left: 0;  
}
.about--right__article-m{
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.9px;
}
.about--right__link{
    padding-left: 84%;
    letter-spacing: 1px;
}
.info{
    padding-bottom: 14.2%;
}
.wraper-content{
    padding-top: 1%;
}
.wrapper-star {
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 13.1%;
    padding-top: 1%;
    padding-left: 0%;
    padding-bottom: 26%;
    border-bottom: 1px solid #d8d8d8;
}
.ping{
    float: none;
    width: 88.2%;
    margin-left: 8%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 1.6%;
}
.pingbuller{
    margin-top: 5%;
    margin-left: 7%;
}
.article1 {
    padding-top: 2.1%;
    padding-left: 7%;
    padding-bottom: 7%;
}
.ping:before {
    left: -6.2%;
    top: 8%;
}
.slaider1 {
    top: 41.5%;
    left: 41.6%;
}
.recent {
    width: 79%;
    float: left; 
    margin-left: 16%;
    margin-top: 18%;
}
.updates{
    margin-bottom: 4%;
}
.circle1, .circle2, .circle3 {
    margin-left: 19%;
}
.circle1:before {
    top: 21%;
    }
    .circle2:before {
    top: 49%;
    }
    .circle3:before{
        top: 77%;
    }
.color {
    left: 69%;
}
.wrapper-logo{
   padding-left: 8.5%; 
   padding-top: 8%; 
   padding-bottom: 8%;
}
.wrapper-logo ul{
    width: 91%;
   }
.wrapper-logo li:nth-child(1){
    margin-left: 8%;

}
.spr2{
    margin-left: 0;
}
.wrapper-logo li:nth-child(2){
    margin-left: 14.5%;
}
.spr3{
    margin-left: 0;
}
.wrapper-logo li:nth-child(3){
    margin-left: 12%;
    margin-right: 3%;
}
.spr4{
    margin-left: 0;
}
.wrapper-logo li:nth-child(4){
    margin-left: 2%;
    margin-top: 4%;
}
a.spr5 {
    margin-left: 0;
}
.wrapper-logo li:nth-child(5){
    margin-left: 11%;
}
a.spr6 {
    margin-left: 0;
}
.wrapper-logo li:nth-child(6){
    margin-left: 13%;
}
.wrapper-article {
    padding-top: 4%;
    margin-left: 2%;
}
.article1-1{
    width: 100%;
    float: none;
}
.disp480{
    display: none;
}
.article2-1{
    width: 100%;
    float: none;
    margin-left: 0;
    margin-top: 5%;
}
.article2-1-title.disp768{
    display: block;
    margin-bottom: 2%;
    margin-top: 12%;
    font-size: 24px;
    letter-spacing: 2.5px;
}
.article2-1-title{
    font-size: 24px;
}
.wrapper-article-bg{
    padding-bottom: 14%;
}
.foot1{
    padding-top: 8%;
}
.foot1 li{
    float: left;
    border-top: none;
    border-bottom: none;
}
.foot1 .menu__item{
    font-size: 20px;
}
.footer-m{
    position: static;
    width: 100%;
    margin-top: 0;
    background: none;
    border: none;
    border-radius: none;
    opacity: 1;
}
.menu__item:nth-child(6) {
    margin-left: 3%;
}
.menu__link.foot-link:hover {
    border-bottom: none;
    background: none;
    opacity: 1;
}
footer{
    padding-bottom: 24%;
    background-size: cover;
}
.designed {
    left: 35%;
    top: 110%;
}
}
@media (min-width: 320px) and (max-width: 479px){
    .black{
        margin-top: 100%;
        height: 50px;
        background: none;
        opacity: 1;
    }
    .left{
    top: 0%;
    left: -4%;
    }
    .right {
    left: 93%;
    top: 0%;
}
    .logotip{
        float: none;
        width: 51%;
        margin: 0 auto;
        margin-top: 22%;
    }
  .top_menu{
    position: absolute;
    left: 25%;
    width: 51%;
    float: none;
    margin: 0 auto;
    margin-top: 7.1%;
    padding: 0 1%;
    opacity: 0.9;
    z-index: 2;
}
.menu__item{
    float: none;
    margin-left: 0;
}
.menu__item:first-child {
    margin-left: 0%;
}
.menu__item:nth-child(4) {
    margin-left: 0%;
}
.menu__item:nth-child(6) {
    margin-left: 0%;
}
.menu__item.home{
    width: 33%;
    margin-left: 31%;
    text-align: center;
    border-bottom: 1px solid pink;
}
.home .menu__link:hover .menu__item .home{
    background: #2a212f;
    
}
.menu__link{
    padding-top: 2%;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
}
.disp480-m{
    display: none;
}
.menu:hover .disp480-m{
    display: block;
}
.menu__link:hover {
    background: #2a212f;
    opacity: 0.9;
}
.h1{
    width: 62%;
    margin: 0 auto;
    font-size: 36px;
    letter-spacing: 3px;
}
.h2{
    top: -4px;
    left: 20%;
    font-size: 18px;
    letter-spacing: 1px;
}
.text, .iphone-small{
    display: none;
}
.article_iphone{
    width: 100%;
    margin: 0 auto;
    margin-top: 58.3%;
}
.article {
    width: 100%;
    margin-top: 0;
    margin: 0 auto;
}
.article_iphone {
    padding-bottom: 52.3%;
}
.slaider {
    top: 61%;
    left: 37%;
}
.about{
    float: none;
    width: 74%;
    margin-left: 24%;
}
.disp320{
    display: none;
}
.about__title {
    font-size: 24px;
    letter-spacing: 2.5px;
}
.about_wrapper{
    padding-top: 17%;
}
.about__article-m {
    padding-top: 3%;
    padding-bottom: 6%;
}
.about__link {
    padding-left: 71%;
    letter-spacing: 1px;
}
.about--center{
     float: none;
    width: 74%;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 24%;
}
.about--center:before {
    top: 3%;
    background-position: 0 0;
}
.about--right {
    float: none;
    width: 74%;
    margin-top: 12%;
    margin-bottom: 2%;
    margin-left: 24%;
}
.about--right__title {
     padding-left: 0;
     font-size: 24px;
     letter-spacing: 2.5px;
}
.about--right__article-m {
    padding-top: 2%;
    padding-left: 0%;
    padding-bottom: 6%;
}
.about--right:before {
    left: -23%;
    top: 4%;
    background-position: 0 0;
}
.about--right__link {
    padding-left: 70%;
}
.info {
    padding-bottom: 19%;
}
.ping {
     float: none;
     width: 76%;
     margin-left: 7%;
 }
 .wrapper-star{
    padding-top: 23%;
 }
 .pingbuller{
    margin-top: 6%;
    margin-left: 11%;
 }
 .pink{
    display: block;
    margin-top: -2%;
 }
 .pingbuller, .pink {
    font-size: 24px;
    letter-spacing: 3px;
}
.article1 {
    margin-left: 12%;
    padding-bottom: 9%;
}
.recent {
    width: 46%;
     float: none; 
   margin-left: 0%;
    margin-top: 0%;
}
.ping:before {
    left: -9.2%;
    }
.recent {
    width: 100%;
    float: none;
    margin-top: 28%;
}
.updates {
    margin-left: 0%;
    margin-bottom: 3%;
}
.circle1, .circle2, .circle3 {
    margin-left: 21%;
}
.circle1{
    padding-top: 1%;
}
.circle2{
    margin-top: 0;
}
.text2 {
    line-height: normal;
}
.circle1:before {
    left: -1%;
    top: 20%;
}

.circle2:before {
    left: -1%;
    top: 45%;
}
.circle3:before {
    left: -1%;
    top: 74%;
}
.color {
    left: 61%;
    top: 98%;
}
.wrapper-star {
    padding-bottom: 35.4%;
}
.spr2 {
    margin-left: 0;
}
.spr3 {
    margin-left: 0;
}
.spr4 {
    margin-left: 0;
}
a.spr5 {
    margin-left: 0;
}
a.spr6 {
    margin-left: 0;
}
.wrapper-logo {
    width: 100%;
    margin-left: 10%;
    padding-left: 0;
    padding-top: 17%;
    padding-bottom: 22.6%;
}
.slaider1 {
    position: absolute;
    top: 46%;
    left: 40.6%;
}
.wrapper-logo li:nth-child(1){
    margin-left: 7%;
}
.wrapper-logo li:nth-child(2){
    margin-left: 18%;
    margin-right: 10px;
}
.wrapper-logo li:nth-child(3){
margin-left: 8%;
margin-top: 17%;
}
.wrapper-logo li:nth-child(4){
    margin-left: 17%;

}
.wrapper-logo li:nth-child(5){
    margin-top: 12%;
    margin-left: 1%;
}
.wrapper-logo li:nth-child(6){
    margin-left: 16%;
}
.wrapper-article-bg{
    display: none;
}
.footer-m{
    display: none;
}
footer{
    height: 200px;
    background-size: cover;}
    .footer{
        padding-bottom: 17.5%;
    }
.designed {
    left: 27%;
    }
}



    }