body{
	background-color: grey;
}
.conteiner{
	width: 25%;
	margin: 0 auto;
	margin-top: 10%;
}
.displ{
height: 80px;
padding: 0 10px;
background: black;
color: green;
font-size: 40px;
font-weight: bold;
border-radius: 10px;
border: 1px solid blue;
}
.button1,.button2{
margin-top: 5px;
padding: 0 10px;
height: 40px;
background: black;
color: grey;
font-weight: bold;
border-radius: 10px;
border: 1px solid blue;
}
.button2{
	margin-left: 84px;
}